/* General settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #00bfa5 0%,
        #00bfa5 16%,
        #D3D3D3 16%,
        #D3D3D3 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Utilities section*/

.flex {
    display: flex;
}

.rounded {
    border-radius: 50%;
}

.scaling {  /* smaller image */
    width: 70px;
}

.normalscaling { /* all images */
    width: 80px;
}

.bold {
    font-weight: bold;
}


/* Layout */

.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #fff;
}

/* left side - aside */

.side {
    flex-basis: 35%;
    background-color: #fff;
}

.side .aside-container {
    background-color:  #D3D3D3;
}

.side .aside-container .image {
    padding: 12px;
}

.side .aside-container span {
    font-weight: bold
}

.side .aside-container {
    align-items: center;
}

.side .aside-container .filler {
    flex-grow: 1;
}

/* Aside icons */

.icons-container a {
    padding: 10px;
}

#pad {
    padding-right: 25px;
}

.icons-container a i {
    font-size: 1.3rem;
    color: #b4b3b3;
}

/* Aside - blue bar */

.blue-bar {
    padding: 11px 5px;
    background-color: #AFEEEE;
}

.blue-bar i {
    padding: 10px;
    margin-left: 7px;
    margin-right: 12px;
    font-size: 1.2rem;
    align-content: center;
    background-color: #fff;
    color: #AFEEEE;
}

.blue-content {
    align-self: center;
}

.blue-content .blue-link {
    padding-top: 2px;
}

.blue-content .blue-link a {
    font-size: 0.6rem;
    color:  #616161;
    text-decoration: underline;
}

/* central part - main */

.content { /* general part that includes header, main, footer*/
    flex-basis: 65%;
    flex-direction: column;
    background-image: url("../img/mine.jpg");
}

.content-main {  /* central part- the biggest one */
    flex-grow: 1;
    overflow-y: auto;
}

/* Search bar */

.search {
    width: 100%;
    display: flex;
  }
  
.searchTerm {
    width: 95%;
    height: 27px;
    border: 3px solid  #e6e9e8;
    border-right: none;
    margin: 4px 4px;
    margin-right: 0;
    padding: 5px 10px;
    outline: none;
    font-size: 0.6rem;
    color:  #a9aaa9;
  }
   
.searchButton {
    width: 27px;
    height: 27px;
    margin: 4px 4px;
    margin-left: 0;
    border: 1px solid #d2d4d3;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
    color: #d2d4d3;
}
  
/* Profiles */

.usersprofiles {
    align-items: center;
    border-bottom: 1px solid #d2d4d3;
}

.usersprofiles img {
    padding: 10px;
}

/* content-header */

main {
    border-left: 1px solid #aaaaaa;
}

.user {
    align-self: center;
}

.content-header {
    background-color:  #D3D3D3;
}

.content-header img {
    padding: 10px;
}

.content-header .user div {
    padding-top: 2px;
    font-size: 0.7rem;
    color:  #616161;
}