/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #00bfa5 0%,
        #00bfa5 16%,
        #D3D3D3 16%,
        #D3D3D3 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Utilities section*/

.flex {
    display: flex;
}

.rounded {
    border-radius: 50%;
}

.scaling {  /* smaller image */
    width: 70px;
}


/* Layout */

.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #fff;
}

/* left side - aside */

.side {
    flex-basis: 35%;
    background-color: #fff;
}

.side .image {
    padding: 15px;
    vertical-align: middle;
}

.side span {
    font-weight: bold
}

/* central part - main */

.content { /* general part that includes header, main, footer*/
    flex-basis: 65%;
    flex-direction: column;
    background-image: url("../img/mine.jpg");
}

.content-main {  /* central part- the biggest one */
    flex-grow: 1;
    overflow-y: auto;
}